@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-4">
  <h1 class="display-4">Welcome</h1>
  <h2 class="display-4">Explore our products</h2>

  <div class="row mt-4">
    @foreach (var product in Model)
    {
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">(@product.ProductId) @product.Name</h5>
            <p class="card-text text-muted">Category: @product.Category</p>
            <p class="card-text fw-bold">$@product.Price</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
